.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  max-width: 100%;
  height: 40px;
  padding: 0 16px 0 12px;
  margin: 0 20px;
  border-radius: 20px;
  border: 2px solid rgb(232, 232, 232);
  transition: border-color 0.2s ease-in-out;

  &:focus-within {
    border: 2px solid #000;
  }
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.searchInput {
  flex: 1;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 4px;
  font-size: 1.6rem;
  background: transparent;
  caret-color: #444;
}
