.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 28px;
  height: 66px;
  border-bottom: 1px solid #e8ebed;
  background-color: #fff;
  font-size: 1.4rem;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headerAction {
  display: flex;
  align-items: center;
}
