@use "../../styles/mixins" as *;

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.59);
}

.modalInner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1002;
  min-height: 200px;
  max-width: calc(100% - 30px);
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 42px -3px rgba(0, 0, 0, 0.1);
  transform: scale(0.8);
  transition: transform 0.3s ease;

  @include screen("md") {
    min-width: 400px;
    max-width: calc(100% - 30px);
  }

  &.visible {
    transform: scale(1);
  }

  &.hidden {
    transform: scale(0.8);
  }
}

.modalCloseBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background: #f1f1f1;
  cursor: pointer;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 24px 24px;
  width: 100%;
}

.modalTitle {
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
}

.closeBtn {
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;

  &:hover {
    color: var(--primary-color);
  }
}

.modalBody {
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5;
  padding: 0 24px 24px;
  width: 600px;
  max-width: 100%;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
  padding: 0 24px 24px;
  margin-top: auto;

  button {
    min-width: 100px;
  }
}

// Custom Class
.custom-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  height: 500px;
  margin-top: 50px;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

.custom-modal-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1002;
  min-height: 200px;
  min-width: calc(100% - 30px);
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 42px -3px rgba(0, 0, 0, 0.1);
  transform: scale(0.8);
  transition: transform 0.3s ease;

  @include screen("md") {
    max-width: calc(100% - 30px);
  }

  &.visible {
    transform: scale(1);
  }

  &.hidden {
    transform: scale(0.8);
  }
}

.custom-overlay {
  position: fixed;
  inset: 0;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.9);
}
