.wrapper {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;

  background: #fff;
  box-shadow: 0 -4px 32px #0003;
  transition: all ease-in-out 0.3s;
  animation: _fadeIn_qhx2q_1 ease 0.3s;
  border-radius: 10px;
  width: 420px;
  padding: 12px 24px;
  margin: 0 20px;
  overflow: hidden;
  will-change: opacity, transform;
  color: #1d2129;
}
