@use "../../styles/mixins" as *;

.navbar {
  position: sticky;
  top: 80px;
  left: 0;
  // z-index: 8;
  display: none;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  width: 96px;
  height: 100%;
  padding: 0 8px;

  @include screen("md") {
    display: flex;
  }
}

.navbarList {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding-left: 0;
}

.navbarItem > a {
  color: #1a1a1a;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #404040;
  background: #fff;
  border-radius: 16px;
  cursor: pointer;

  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 8px;

  &:hover {
    background: #eef1f4;
  }

  &.active {
    background: #e8ebed;
  }
}

.navIcon {
  width: 24px;
  height: 24px;
  margin-bottom: 1rem;
}
