@use "@/styles/mixins" as *;

.slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 30px;

  @include screen("md") {
    height: 100px;
  }
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  img {
    width: 100%;
    display: block;
    border-radius: 12px;

    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(135, 135, 135, 0.5);
  border: none;
  color: #fff;
  font-size: 2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;

  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
  }
}

.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6px;
  display: flex;
  justify-content: center;
}

.dot {
  width: 20px;
  height: 8px;
  margin: 0 5px;
  background: #dce0e3;
  border-radius: 99px;
  cursor: pointer;
  transform: width 0.3s, background-color 0.3s;

  &.active {
    width: 40px;
    background: #b3bcc3;
  }
}
